<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/plantdetails.css">
</head>
<body>
    <div class="container">
        <div class="conteudo">
            <div class="title">
                <h1>Jasmin</h1>
            </div>
            <div class="texto"><p>A flor de jasmim, tem entre cinco ou seis pétalas.Ela é perfeita para fazer um canteiro cheiroso para a sua casa. A floração da flor de jasmim ocorre, geralmente, no verão e na primavera, geralmente seis meses depois de ser plantada. O seu cheiro delicioso é exalado durante a noite, iniciando após o pôr do sol.</p>
            </div>
        </div>
        <div class="imagem">
            <img src="../static/imagem/logo.png" alt="logo">
        </div>
    </div>
</body>
</html>