<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../../static/auth.css"> 
</head>
<body>
    <div class="formulario">
        <form method="POST" action="">
            <div class="title">
                <h1>Cadastro</h1>
            </div>
            <div class="title2">
                <h2>Dados Pessoais</h2>
            </div>
            <div class="input-group">
                <div class="input-group1">
                    {% csrf_token %}
                    {% for f in cadaster_form %}
                        {{ f }}
                        {% if f.errors %}
                            <div class="erro">
                                {% for error in f.errors %}
                                    <p>* {{error}}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    <div class="title2">
                        <h2>Endereço de Entrega</h2>
                    </div>
                    {{ address_form.receiver }}
                    {{ address_form.state.label_tag }}
                    {{ address_form.state }}
                </div>
                <div class="input-group2">
                    {{ address_form.city.label_tag }}
                    {{ address_form.city }}
                    {% if address_form.city.errors %}
                        <div class="erro">
                            {% for error in address_form.city.errors %}
                            <p>* {{error}}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {{ address_form.neighborhood }}
                    {{ address_form.street }}
                    {{ address_form.number }}
                    {{ address_form.complement }}
                    {{ address_form.cep }}
                    {% if address_form.cep.errors %}
                        <div class="erro">
                            {% for error in address_form.cep.errors %}
                            <p>* {{error}}</p>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="link">
                        <a href="#">Já possui conta? Faça o login</a>
                    </div>
                    <button>
                        Cadastrar
                    </button>                          
                </div>
            </div>
        </form>
    </div>
</body>
</html>