<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/ecommercescreen.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="container-header">
        <header>
            <div class="imagem">
                <img src="../static/imagem/logo.png" alt="logo">
            </div>
            <div class="links-direita">
                <div class="login">
                    <a href="#">Login</a>
                </div>
                <div class="cadaster">
                    <a href="#">Cadastre-se</a>
                </div>
                <div class="car">
                    <i id='car-icon' class="fa-solid fa-cart-shopping"></i>
                </div>
            </div>
        </header>
    </div>
    <div class="filtro">
        <div class="area-categorias">
            <div class="quadrado-categoria">
                <i class="fa-solid fa-clover"></i>
                <p>Buquês</p>
            </div>
            <div class="quadrado-categoria">
                <i class="fa-solid fa-seedling"></i>
                <p>Mudas</p>
            </div>
            <div class="quadrado-categoria">
                <i class="fa-solid fa-check"></i>
                <p>Ver Tudo</p>
            </div>
        </div>
        <div class="filtro-pesquisa">
            <div class="input-box">
                <i id="icon-pesquisa" class="fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Jasmin Rosa">
            </div>
        </div>
    </div>
</body>
</html>