<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Client Profile</title>
    <link rel="stylesheet" href="../static/auth.css">
</head>
<body>
    <div class="formulario">
        <form method="POST" action="">
            <div class="title">
                <h1>Editar Perfil</h1>
            </div>
            <div class="input-group-login">
                {% csrf_token %}
                <label>
                    {{ client_form.username.label }}
                </label>
                {{ client_form.username }}
                <label>
                    {{ client_form.email.label }}
                </label>
                {{ client_form.email }}
                <label>
                    {{ client_form.cpf.label }}
                </label>
                {{ client_form.cpf }}
            </div>
            <button>
                Salvar
            </button>
        </form>
    </div>
</body>
</html>