<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/auth.css">

</head>
<body>
    <div class="formulario">
        <form method="POST" action="">
            <div class="title">
                <h1>Alteraração<br>de Senha</h1>
            </div>
            <div class="input-group-login">
                <p>* Crie sua nova senha</p>
                {% csrf_token %}
                {{ change_password_form.password1 }}
                {{ change_password_form.password2 }}
            </div>
            {% if message %}
                <div class="alert-{{message.type}}">
                <p>{{ message.text }}</p>
                </div>
            {% endif %}
            <button>
                Alterar
            </button>
            <div class="link">
                <a href="{{link_href}}">Clique aqui para fazer o login!</a>
            </div>
        </form>
    </div>
</body>
</html>