<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <div class="side-bar">
        <div class="interacao">
            <i id="user-icon" class="fa-solid fa-user"></i>
            <strong>Olá, Fulana</strong>
        </div>
        <div class="dados-perfil">
            <div class="title2">
                <h2>Perfil</h2>
            </div>
            <div class="dados-sensiveis">
                <i class="fa-solid fa-user icon"></i>
                <p>Pepapig</p>
            </div>
            <div class="dados-sensiveis">
                <i class="fa-solid fa-envelope icon"></i>
                <p>blalabla@outlook.com</p>
            </div>
            <div class="dados-sensiveis">
                <i class="fa-solid fa-address-card icon"></i>
                <p>451888999</p>
            </div>
            <div class="dados-sensiveis">
                <div class="edit-profile">
                    <a href="#">
                        <i class="fa-solid fa-pen-to-square icon"></i>
                    </a>
                </div> 
            </div>
        </div>
        <div class="logo">
            <img src="../static/imagem/logo.png" alt="logo">
        </div>
    </div>
    <div class="container1">
        <div class="area-endereco">
            <div class="title2">
                <h2>Endereço</h2>
            </div>
            <div class="dados-sensiveis">
                <i class="fa-solid fa-house icon"></i>
                <p>Pernambuco Recife Madalena Rua e23</p>
            </div>
            <div class="dados-sensiveis">
                <i class="fa-solid fa-location-dot icon"></i>
                <p>8678567865</p>
            </div>
            <div class="dados-sensiveis">
                <div class="edit-address">
                    <a href="#">
                        <i class="fa-solid fa-pen-to-square icon"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="area-favoritos">
            <div class="title2">
                <h2>Favoritos</h2>
            </div>
            <div class="favorite-product">
                <img class="imagem-produto">
                <div class="product-info">
                    <div class="details-product">
                        <p>Blá Blá Blá</p>
                        <p>BláBláBlá</p>
                    </div>
                    <div class="button-remove">
                            <button>Remover</button>
                    </div>
                </div>
            </div>
            <div class="favorite-product">
                <img class="imagem-produto">
                <div class="product-info">
                    <div class="details-product">
                        <p>Blá Blá Blá</p>
                        <p>BláBláBlá</p>
                    </div>
                    <div class="button-remove">
                            <button>Remover</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container2">
        <div class="area-ultimas-compras">
            <div class="title2">
                <h2>Últimas Compras</h2>
            </div>
            <div class="ultimas-compras">
                <img class="img-produto-compra">
                <div class="product-info">
                    <p>bloablabla</p>
                    <p>Blalblabla</p>
                </div>
                <div class="product-info">
                    <p>Blablabla</p>
                    <p>Blalabla</p>
                </div>
            </div>
            <div class="ultimas-compras">
                <img class="img-produto-compra">
                <div class="product-info">
                    <p>bloablabla</p>
                    <p>Blalblabla</p>
                </div>
                <div class="product-info">
                    <p>Blablabla</p>
                    <p>Blalabla</p>
                </div>
            </div>
            <div class="ultimas-compras">
                <img class="img-produto-compra">
                <div class="product-info">
                    <p>bloablabla</p>
                    <p>Blalblabla</p>
                </div>
                <div class="product-info">
                    <p>Blablabla</p>
                    <p>Blalabla</p>
                </div>
            </div>
            <div class="ultimas-compras">
                <img class="img-produto-compra">
                <div class="product-info">
                    <p>bloablabla</p>
                    <p>Blalblabla</p>
                </div>
                <div class="product-info">
                    <p>Blablabla</p>
                    <p>Blalabla</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>