<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="../static/shoppingcart.css">
</head>
<body>
    <div class="container">
        <div class="shoppingcart">
            <header>
                <div class="title">
                    <h1>Shopping Cart</h1>
                </div>
                <div class="quantidade-itens">
                    <p>3 Items</p>
                </div>
            </header>
            <div class="products-details">
                <p>Product name</p>
                <p>Quantity</p>
                <p>Unit price</p>
                <p>Total price</p>
            </div>
            <div class="product-area">
                <div class="product">
                    <img class="product-image"></img>
                    <div class="quant-product"></div>
                    <div class="unit-price"><p>R$500,00</p></div>
                    <div class="total-price"><p>R$500,00</p></div>
                </div>  
                <div class="product">
                </div>
                <div class="product">
                </div>
            </div>
        </div>
        <div class="sumary">
            <div class="sumary-area">
                <h2>
                    Sumary
                </h2>
                <div class="sumary-details">
                    <p>ITEMS 3</p>
                    <p>R$1800,00</p>
                </div>
                <div class="input-box">
                    <label>Código de Desconto:</label>
                    <input type="text" placeholder="Enter your code">
                </div>
                <button class="button-apply">
                    Apply
                </button>
                <div class="final-price">
                    <p>Final Price</p>
                    <p>R$1600,00</p>
                </div>
                <button class="button-checkout">Checkout</button>
            </div>
        </div>
    </div>
    
</body>
</html>