<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="../static/shoppingcart.css">
</head>
<body>
    <div class="container">
        <div class="shoppingcart">
            <header>
                <div class="title">
                    <h1>Shopping Cart</h1>
                </div>
                <div class="quantidade-itens">
                    <p>3 Itens</p>
                </div>
            </header>
            <div class="product-area">
                <div class="product">
                </div>  
                <div class="product">
                </div>
                <div class="product">
                </div>
            </div>
        </div>
        <div class="sumary">
            <div class="sumary-area">
                <h2>
                    Sumary
                </h2>
            </div>
        </div>
    </div>
    
</body>
</html>