*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(254, 254, 242);
}

.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    padding: 30px;
    width: auto;
    background: white;
    box-shadow: 0 0 10px rgb(231, 229, 229);
    border-radius: 3px;
}

.formulario:hover{
    box-shadow: 0 0 10px rgb(225, 224, 224);
}

.form{
    display: flex;
}

.title{
    color: #621b02;
    margin-bottom: 30px;
    font-size: 0.9rem;
}

.title::after{
    content: '';
    display: block;
    width: 5rem;
    height: 0.4rem;
    background-color: rgb(152, 85, 60);
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

p{
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
    color: #621b02;

}

.link{
    margin-top: 4px;
}

.link a{
    text-decoration: none;
    font-size: 12.5px;
    color: #621b02;
}

.link a:hover{
    color: #822503;
}

.title2{
    font-size: 10px;
    margin-top: 10px;
    color: #621b02;
}

.input-group{
    display: flex;
    width: auto;
}

.input-group1{
    display: block;
    margin-right: 0.6rem;
    width: auto;
}

.input-group2{
    display: block;
    margin-left: 0.6rem;
    width: auto;
}

.input-group-login{
    display: block;
    width: auto;
}

.input-box{
    display: block;
    padding: 7px;
    margin-top: 2px;
    margin-bottom: 4px;
    border-radius: 3px;
    border: none;
    box-shadow: 1px 1px 5px rgb(231, 231, 231);
    outline: none;
    width: 13.5rem;
}

label{
    font-size: 0.8rem;
    cursor: pointer;
    color: rgb(83, 83, 83);
}

.input-box:hover,
.input-box:focus{
    background: rgb(247, 247, 246);
    box-shadow: 1px 1px 5px rgb(216, 216, 216);
}

.input-box::placeholder{
    font-size: 0.7rem;
    color: rgb(162, 161, 161);
}

button{
    width: 13.5rem;
    height: 29px;
    margin-top: 8px;
    background: rgb(152, 85, 60);
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px rgb(231, 231, 231);
    border-radius: 3px;
    color: #ffffff;
    cursor: pointer;
    font-size: 0.8rem;
}

button:hover{
    background:  rgb(140, 82, 61);
    box-shadow: 1px 1px 5px rgb(216, 216, 216);
}

#button-address button{
    width: 100%;
}

.erro p,
.alert-danger p{
    font-size: 0.7rem;
}
