* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    background-color: rgb(254, 254, 242);
    display: flex;
}

.side-bar{
    width: 14rem;
    height: 100%;
    background: white;
    padding: 0.6rem;
    box-shadow: 0 0 10px rgb(231, 229, 229);
}

.interacao{
    display: flex;
    color: #621b02;

}

#user-icon{
    margin-right: 0.5rem;
    font-size: 1rem;
    color: #621b02;
}

.icon{
    color: rgb(124, 124, 123);
}

.interacao strong{
    font-size: 0.9rem;
}

.dados-perfil{
    width:100%;
    height: auto;
    background-color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0.7rem;
    box-shadow: 0 0 5px rgb(221, 221, 221);
    border-radius: 0.2rem;
}

.side-bar:hover,
.dados-perfil:hover,
.area-endereco:hover,
.area-favoritos:hover{
    box-shadow: 0 0 6px rgb(215, 215, 215);
}

.title2{
    color: #621b02;
    font-size: 0.6rem;
    margin-bottom: 0.8rem;
    text-transform:uppercase;
}

p,
i{
    color: rgb(173, 172, 172);
    font-size: 0.7rem;
    margin-bottom: 0.4rem;
    margin-right: 0.4rem;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

.dados-sensiveis{
    display: flex;
}

.edit-profile,
.edit-address{
    margin-left: auto;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 11rem;
    height: 11rem;
}

.container1{
    padding: 1rem;
}

.area-endereco{
    width: 26rem;
    height: auto;
    background: white;
    box-shadow: 1px 1.6px 5px rgb(221, 221, 221);
    border-radius: 0.3rem;
    padding: 0.7rem;
    margin-bottom: 1rem;
}

.area-favoritos{
    width: 26rem;
    height: auto;
    max-height: 18.5rem;
    background: white;
    box-shadow: 1px 1.6px 5px rgb(221, 221, 221);
    border-radius: 0.3rem;
    padding: 0.7rem;
}

.imagem-produto{
    width: 6.4rem;
    height: 6.4rem;
}

.favorite-product{
    display: flex;
    background: rgb(247, 243, 238);
    margin-bottom: 0.5rem;
}

.product-info{
    padding: 0.8rem;
    align-content: center;
}

button{
    width: 6rem;
    height: 1.6rem;
    background: none;
    border: 1.2px solid  rgb(197, 33, 33);
    color: rgb(197, 33, 33);
    border-radius: 0.8rem;
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

button:hover{
    cursor: pointer;
    outline: 0.1px solid  rgb(197, 33, 33);
}

.container2{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.area-ultimas-compras{
    padding: 0.7rem;
    background: white;
    box-shadow: 1px 1.6px 5px rgb(221, 221, 221);
    border-radius: 0.3rem;
    width: 21rem;
    height: auto;
    max-height: 27rem;
}

.ultimas-compras{
    display: flex;
    background: rgb(244, 250, 244);
    margin-bottom: 0.3rem;
}

.img-produto-compra{
    width: 5.2rem;
    height: 5.2rem;
    border: 1ps solid black;
}
